@page
@using SelfDrivingCarRentalPlatform.Constants;
@model DrivingLicenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="untree_co-section">
    <div class="container row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <h4>Driving License</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Full Name</dt>
                <dd class="col-sm-9">@Model.DrivingLicense.Owner!.Fullname</dd>
                <dt class="col-sm-3">Driving License Number</dt>
                <dd class="col-sm-9">@Model.DrivingLicense.DrivingLicenseNumber</dd>
                <dt class="col-sm-3">Expiry Date</dt>
                <dd class="col-sm-9">@Model.DrivingLicense.ExpiryDate.ToString(CommonConst.DateFormatYmdHyphen)</dd>
            </dl>
        </div>
    </div>
</div>
