@page
@model CarOwners.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <!--Start Form-->
            <form method="post" enctype="multipart/form-data">
                <div class="col-md-12 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Add new car for rent</h2>
                    <div class="p-3 p-lg-5 border bg-white">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-black" asp-for="Car.CarModel">Car Model<span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Car.CarModel" required>
                                <span asp-validation-for="Car.CarModel" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-black control-label" asp-for="Car.CarBrandId">Car Brand<span class="text-danger">*</span></label>
                                <select class="form-control" asp-for="Car.CarBrandId" asp-items="ViewBag.CarBrandId" required>
                                    <option value="" hidden>Choose a brand</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="text-black control-label" asp-for="Car.CarTypeId">Car Type<span class="text-danger">*</span></label>
                                <select class="form-control" asp-for="Car.CarTypeId" asp-items="ViewBag.CarTypeId" required>
                                    <option value="" hidden>Choose car type</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-black" asp-for="Car.PlateNumber">Plate Number<span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Car.PlateNumber" required>
                                <span asp-validation-for="Car.PlateNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" asp-for="Car.CarRegisterNumber">Car Register Number<span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Car.CarRegisterNumber" required>
                                <span asp-validation-for="Car.CarRegisterNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="text-black" asp-for="Car.PricePerDay">Price per day<span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Car.PricePerDay" step="1000" min="0" required>
                                <span asp-validation-for="Car.PricePerDay" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" asp-for="Car.DepositRatio">Deposit Ratio<span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Car.DepositRatio" min="0" max="30" required>
                                <span asp-validation-for="Car.DepositRatio" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-black" asp-for="Car.PickupLocation">Pickup Location<span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Car.PickupLocation" required>
                                <span asp-validation-for="Car.PickupLocation" class="text-danger"></span>
                            </div>
                        </div>

                        <div>
                            <label class="text-black" asp-for="Car.IsElectric">
                                <input type="checkbox" asp-for="Car.IsElectric" /> Electric Car
                            </label>
                        </div>

                        <div>
                            <label class="text-black" asp-for="Car.IsMortgageRequired">
                                <input type="checkbox" asp-for="Car.IsMortgageRequired" checked /> Mortgage Required
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="text-black" for="imageInput">Car Image</label>
                            <div>
                                <input type="file" accept="image/*" class="form-control-file mb-4" id="imageInput" asp-for="Image" />
                                <img id="imagePreview" style="max-width: 100%; max-height: 200px; margin-top: 10px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add car</button>
                            <a class="btn btn-danger" asp-page="Index">Back to list</a>
                        </div>
                    </div>
                </div>
            </form>
            <!--End Form-->
        </div>
    </div>
</div>
<script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var imagePreview = document.getElementById('imagePreview');
                    if (imagePreview) {
                        imagePreview.src = e.target.result;
                    }
                }

                reader.readAsDataURL(input.files[0]); 
            }
        });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}