@using BusinessObjects.Enums;
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(UserRole.CarOwner.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/CarOwner/Profile/Details" asp-route-id="@User.FindFirst("Id")?.Value"><img src="~/images/user.svg"></a>
        </li>
    }
    @if (User.IsInRole(UserRole.Customer.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Customer/ProfileDetails" asp-route-id="@User.FindFirst("Id")?.Value"><img src="~/images/user.svg"></a>
        </li>
    }
    <form method="post" class="form-inline" asp-page="/Account/Logout">
        <button type="submit" class="btn btn-link" style="text-decoration: none">Logout</button>
    </form>
}
else
{
    <a class="btn btn-link" asp-page="/Account/Login">Login</a>
}
