@using BusinessObjects.Enums;
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(UserRole.Admin.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Index">Admin Home</a>
        </li>
    }
    @if (User.IsInRole(UserRole.CarOwner.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/CarOwners/Cars/Index">Cars</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" asp-page="CarOwners/Contracts/RentedList">Renting History</a>
        </li>
    }
    @if (User.IsInRole(UserRole.Customer.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Customer/Index">Customer Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-page="/Cars/Index">View Cars</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" asp-page="/Contracts/Index">Renting History</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" asp-page="/DrivingLicenses/Details" asp-route-id="@int.Parse(User.FindFirst("Id").Value.ToString())">Add Driving License</a>
        </li>
    }
}
